
<script src="../Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
<script src="../Scripts/Highcharts-4.0.1/js/modules/exporting.js"></script>
<div class="container">


    <div class="row">

        <h4>Reportes</h4>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">
                            Reportes
                        </h4>
                    </a>
                    <div class="list-group-item">
                        <a ng-click="ReporteCantidadDePatosEnAustraliaPorMes()">
                            Numero de judios por cantidad de alemanes
                        </a>
                    </div>
                    <div class="list-group-item">
                        <a ng-click="ReporteTarjetasPorEmpleado()">
                            Tarjetas vendidas por cada empleado
                        </a>
                    </div>
                    <div class="list-group-item">
                        Retorno promedio de las acciones de Peugeot
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="Chart"></div>
            </div>
        </div>
    </div>
</div>
