<div class="container">
    <div class="row">
        <h4>
            Asignar tarjeta
        </h4>
        <div class="panel panel-default">
            <div class="panel panel-body form-horizontal">
                <div class="col-md-12">
                    <div style="text-align:center;" ng-show="Procesando">
                        <h3>
                            <span>{{Tarea}}</span>
                            <img height="25" width="25" src="../Images/loading.gif" />
                        </h3>
                    </div>
                    <div style="text-align:center;" class="Informacion" ng-show="!Procesando && MostrarInformacion">

                        <div class="hero-unit center">
                            <h1 ng-show="!ErrorProceso">
                                Proceso finalizado<span>
                                    <img height="25" width="25" src="../Images/ok.png" />
                                </span>
                            </h1>
                            <h1 ng-show="ErrorProceso">
                                Proceso erroneo<span>
                                    <img height="50" width="50" src="../Images/error.png" />
                                </span>
                            </h1>
                            <br />
                            <p>Informacion del proceso:</p>
                            <p><b>{{Informacion}}</b></p>
                            <a ng-show="!ErrorProceso" href="#!/solicitudtarjetaextension" class="btn btn-default btn-lg">
                            <a href="#!/solicitudtarjetaextension" ng-click="MostrarInformacion = false" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-right"></span> Volver </a>
                        </div>
                        <br />
                    </div>
                    <div style="text-align:center;" ng-show="!Procesando && !MostrarInformacion && !TitularObtenido">
                 
                        <form role="form" class="form-inline">
                            <div class="form-group">

                                <label for="nombreTitular">
                                    Ingrese el DNI del titular
                                </label>

                                <input ng-model="dniTitular" type="text" class="form-control" id="dniTitular" />

                                <button ng-click="mostrarDatosConyuge()" class="btn btn-default">
                                    Aceptar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div  ng-show="!Procesando && !MostrarInformacion && TitularObtenido">
                        <div class="col-md-6">
                            
                            <form role="form">
                                <h3>Ingrese datos de la tarjeta</h3>
                                <div style="text-align:center;" class="form-group">
                                    <label for="Monto" class="col-sm-3 control-label">Monto</label>
                                    <div style="text-align:center;" class="col-sm-9">
                                        <input type="number" ng-model="monto" class="form-control" id="monto" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Marca" class="col-sm-3 control-label">Marca</label>
                                    <div class="col-sm-9">
                                        <select ng-model="estadoSeleccionado" class="form-control" id="status" name="Marca">
                                            <option value="1">Visa</option>
                                            <option value="2">American Express</option>
                                            <option value="3">Master Card</option>
                                        </select>
                                    </div>
                                    <button type="submit" ng-click="CrearTarjeta()" class="btn btn-default">
                                        Crear Tarjeta
                                    </button>
                                </div>

                             
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div style="text-align:center">
                                <img style="padding-left: 15px; padding-right:15px" src="http://lorempixel.com/140/140/" class="img-circle" />
                                <h3>
                                    {{nombreTitular}}
                                </h3>
                            </div>
                            <h4>
                                {{nombreTitular}} tiene de conyuge a {{nombreConyuge}} con el DNI {{dniConyuge}}.
                            </h4>
                            <div>
                                <label for="DNI" class="control-label">DNI:   </label>{{cliente.NroDocumento}}
                            </div>
                            <div>
                                <label for="EDAD" class="control-label">Edad:   </label>{{cliente.FechaNac}}
                            </div>
                            <div>
                                <label for="CUIT" class="control-label">Cuit:   </label>{{cliente.Cuit}}
                            </div>
                            <div>
                                <label for="Domicilio" class="control-label">Domicilio:   </label>{{cliente.Domicilio}}
                            </div>
                            <div>
                                <label for="Email" class="control-label">Email:   </label>{{cliente.Email}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>