
<div class="container">
    <div class="row">

        <div class="modal-content">

            <div class="modal-body" ng-show="!Procesando">
                <form novalidate="novalidate" id="formSignUp">
                    <div id="errorSignUp">

                    </div>
                    <h4>Datos del nuevo cliente</h4>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-log-in"></span>
                                <input class="form-control" placeholder="email@example.com" name="emailSignUp" id="emailSignUp" type="email">
                                <span class="glyphicon glyphicon-user"></span>
                                <input class="form-control" placeholder="Apellido cliente" ng-model="apellidoTitular" name="nombre" id="nombre" type="text">
                                <span class="glyphicon glyphicon-user"></span>
                                <input class="form-control" placeholder="Nombre cliente" ng-model="nombreTitular" name="apellido" id="apellido" type="text">
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                                <input class="form-control" placeholder="Telefono cliente" name="Telefono" id="Telefono" type="number">
                                <span class="glyphicon glyphicon-user"></span>
                                <input class="form-control" placeholder="DNI cliente" ng-model="dniTitular" name="dni" id="dni" type="number">
                                <span class="glyphicon glyphicon-user"></span>
                                <input class="form-control" placeholder="CUIT cliente" name="cuit" id="cuit" type="number">
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>

                                <select name="generos" class="form-control" title="Genero"
                                    <option value="black">Black</option>
                                    <option selected="selected" disabled="disabled" value="femenino">Sexo</option>
                                    <option value="femenino">Femenino</option>
                                    <option value="masculino">Masculino</option>
                                </select>

                                <span class="glyphicon glyphicon-info-sign"></span>

                                <select ng-model="estadoSeleccionado" ng-change="verificarEstadoCivil()" class="form-control">
                                    <option selected="selected" disabled="disabled" value="estado">Estado civil</option>
                                    <option value="1">Soltero</option>
                                    <option value="2">Casado</option>
                                    <option value="3">Divorciado</option>
                                </select>

                                <span class="glyphicon glyphicon-info-sign"></span>
                                <input class="form-control" placeholder="Direccion" name="Direccion" id="Direccion" type="text">

                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>

                                <select name="situacion" class="form-control" title="Situacion Laboral">
                                    <option selected="selected" disabled="disabled" value="situacion">Situacion laboral</option>
                                    <option value="femenino">Empleado</option>
                                    <option value="masculino">Desempleado</option>
                                    <option value="masculino">Estudiante</option>
                                </select>

                                <span class="glyphicon glyphicon-info-sign"></span>
                                <input class="form-control" placeholder="Ganancia mensual aproximada" name="ganancia" id="ganancia" type="text">

                                <span class="glyphicon glyphicon-info-sign"></span>

                                <select name="situacion" class="form-control" title="Banco actual">
                                    <option selected="selected" disabled="disabled" value="banco">Banco</option>
                                    <option value="femenino">HSBC</option>
                                    <option value="masculino">Santander Rio</option>
                                    <option value="masculino">CITI</option>
                                    <option value="masculino">Galicia</option>
                                </select>

                            </span>
                        </div>
                    </div>

                    <div ng-show="datosConyuge">
                        <h4>Datos del conyuge</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    <input class="form-control" placeholder="email@example.com" name="emailSignUp" id="emailSignUp" type="email">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <input class="form-control" placeholder="Apellido cliente" name="nombre" id="nombre" type="text">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <input class="form-control" placeholder="Nombre cliente" name="apellido" id="apellido" type="text">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-phone"></span>
                                    <input class="form-control" placeholder="Telefono cliente" name="Telefono" id="Telefono" type="number">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <input class="form-control" placeholder="DNI cliente" name="dni" id="dni" type="number">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <input class="form-control" placeholder="CUIT cliente" name="cuit" id="cuit" type="number">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>

                                    <select name="generos" class="form-control" title="Genero"
                                        <option value="femenino">Sexo</option>
                                        <option selected="selected" disabled="disabled" value="femenino">Sexo</option>
                                        <option value="femenino">Femenino</option>
                                        <option value="masculino">Masculino</option>
                                    </select>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <select class="form-control" disabled="disabled">
                                        <option selected="selected" disabled="disabled" value="estado">Casado</option>
                                    </select>
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    <input class="form-control" placeholder="Direccion" name="Direccion" id="Direccion" type="text">

                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>

                                    <select name="situacion" class="form-control" title="Situacion Laboral">
                                        <option selected="selected" disabled="disabled" value="situacion">Situacion laboral</option>
                                        <option value="femenino">Empleado</option>
                                        <option value="masculino">Desempleado</option>
                                        <option value="masculino">Estudiante</option>
                                    </select>

                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    <input class="form-control" placeholder="Ganancia mensual aproximada" name="ganancia" id="ganancia" type="text">

                                    <span class="glyphicon glyphicon-info-sign"></span>

                                    <select name="situacion" class="form-control" title="Banco actual">
                                        <option selected="selected" disabled="disabled" value="banco">Banco</option>
                                        <option value="femenino">HSBC</option>
                                        <option value="masculino">Santander Rio</option>
                                        <option value="masculino">CITI</option>
                                        <option value="masculino">Galicia</option>
                                    </select>

                                </span>
                            </div>
                        </div>
                    </div>
                    <button ng-click="ProcesarSolicitud()" type="button" class="btn btn-primary">Registrar</button>
                    </form>

            </div>
            <div ng-show="Procesando">
                <h3>{{Tarea}}</h3>
                <img height="100" width="100" src="../Images/loading.gif" />
            </div>
        </div>
    </div>
</div>
