USE [master]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [aguseselmejor_SQLLogin_1]    Script Date: 16/07/2017 05:30:36 p.m. ******/
CREATE LOGIN [aguseselmejor_SQLLogin_1] WITH PASSWORD=N'iBnZè)ÏûÔºKë÷ß hÜrå-U0', DEFAULT_DATABASE=[LPPADATABASE], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [aguseselmejor_SQLLogin_1] DISABLE
GO
USE [LPPADATABASE]
GO
/****** Object:  User [aguseselmejor_SQLLogin_1]    Script Date: 16/07/2017 05:30:39 p.m. ******/
CREATE USER [aguseselmejor_SQLLogin_1] FOR LOGIN [aguseselmejor_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [aguseselmejor_SQLLogin_1]
GO
/****** Object:  Schema [aguseselmejor_SQLLogin_1]    Script Date: 16/07/2017 05:30:42 p.m. ******/
CREATE SCHEMA [aguseselmejor_SQLLogin_1]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 16/07/2017 05:30:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[CUIT] [int] NOT NULL,
	[DniConyuge] [int] NULL,
	[Domicilio] [varchar](50) NOT NULL,
	[EstadoCivil] [int] NOT NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[IngresoMesualAprox] [int] NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[Sexo] [int] NOT NULL,
	[SituacionLaboral] [int] NOT NULL,
	[TipoDocumento] [int] NOT NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 16/07/2017 05:30:46 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[DNI] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[LoginUser] [varchar](50) NULL,
	[Password] [varchar](255) NULL,
	[Sexo] [int] NULL,
	[TipoDocumento] [int] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HistoricoSolicitudTarjetas]    Script Date: 16/07/2017 05:30:46 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoSolicitudTarjetas](
	[IdTerminal] [int] NOT NULL,
	[NumTarjeta] [int] NOT NULL,
	[FechaSolicitud] [datetime] NULL,
	[EstadoTarjeta] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Impresora]    Script Date: 16/07/2017 05:30:46 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impresora](
	[CodImpresora] [int] NOT NULL,
	[StockPapel] [int] NULL,
 CONSTRAINT [PK_Impresora] PRIMARY KEY CLUSTERED 
(
	[CodImpresora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 16/07/2017 05:30:46 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
 CONSTRAINT [PK_sysdiagrams] PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 16/07/2017 05:30:46 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[Numero] [int] NOT NULL,
	[Marca] [int] NOT NULL,
	[SaldoMaximo] [int] NOT NULL,
	[Tipo] [int] NOT NULL,
	[Extension] [int] NULL,
	[DNICliente] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[IdTerminalImpresion] [int] NULL,
 CONSTRAINT [PK_Tarjeta] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Terminal]    Script Date: 16/07/2017 05:30:46 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Terminal](
	[CodigoTerminal] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[IdImpresora] [int] NULL,
	[DNIEmpleado] [int] NULL,
 CONSTRAINT [PK_Terminal] PRIMARY KEY CLUSTERED 
(
	[CodigoTerminal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Cliente] ([CUIT], [DniConyuge], [Domicilio], [EstadoCivil], [FechaNacimiento], [IngresoMesualAprox], [Nombre], [DNI], [Sexo], [SituacionLaboral], [TipoDocumento], [Email]) VALUES (12331232, 3333333, N'123123123sdd', 0, CAST(N'2007-12-31 01:00:00.000' AS DateTime), 23323123, N'mwefkmwe kmwelfkm', 0, 0, 0, 0, NULL)
INSERT [dbo].[Cliente] ([CUIT], [DniConyuge], [Domicilio], [EstadoCivil], [FechaNacimiento], [IngresoMesualAprox], [Nombre], [DNI], [Sexo], [SituacionLaboral], [TipoDocumento], [Email]) VALUES (33441, NULL, N'123123123sdd', 1, CAST(N'2016-10-31 00:00:00.000' AS DateTime), 23323123, N'ksksksk hshshsh', 78787, 1, 1, 0, NULL)
INSERT [dbo].[Cliente] ([CUIT], [DniConyuge], [Domicilio], [EstadoCivil], [FechaNacimiento], [IngresoMesualAprox], [Nombre], [DNI], [Sexo], [SituacionLaboral], [TipoDocumento], [Email]) VALUES (824283, NULL, N'2euu2oheb', 0, CAST(N'1946-05-12 00:00:00.000' AS DateTime), 214124, N'feonifwein ofbeofebo', 87284, 1, 2, 0, NULL)
INSERT [dbo].[Empleado] ([DNI], [Nombre], [LoginUser], [Password], [Sexo], [TipoDocumento]) VALUES (101010, N'Graciela', N'test', N'test', 1, 1)
INSERT [dbo].[HistoricoSolicitudTarjetas] ([IdTerminal], [NumTarjeta], [FechaSolicitud], [EstadoTarjeta]) VALUES (1, 407744793, CAST(N'2017-07-10 17:35:20.373' AS DateTime), 0)
INSERT [dbo].[Impresora] ([CodImpresora], [StockPapel]) VALUES (1, 1000)
INSERT [dbo].[Tarjeta] ([Numero], [Marca], [SaldoMaximo], [Tipo], [Extension], [DNICliente], [Estado], [IdTerminalImpresion]) VALUES (72225637, 2, 5000, 0, 1, 12311312, 0, 2)
INSERT [dbo].[Tarjeta] ([Numero], [Marca], [SaldoMaximo], [Tipo], [Extension], [DNICliente], [Estado], [IdTerminalImpresion]) VALUES (407744793, 1, 12312, 0, 1, 12311312, 0, 1)
INSERT [dbo].[Tarjeta] ([Numero], [Marca], [SaldoMaximo], [Tipo], [Extension], [DNICliente], [Estado], [IdTerminalImpresion]) VALUES (944495184, 2, 123132, 0, 1, 65456233, 0, 1)
INSERT [dbo].[Terminal] ([CodigoTerminal], [Descripcion], [IdImpresora], [DNIEmpleado]) VALUES (1, N'Sucursal principal', 1, 101010)
/****** Object:  Index [IX_FK_Cliente_Cliente]    Script Date: 16/07/2017 05:30:50 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_FK_Cliente_Cliente] ON [dbo].[Cliente]
(
	[DniConyuge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_HistoricoSolicitudTarjetas_Tarjeta]    Script Date: 16/07/2017 05:30:50 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_FK_HistoricoSolicitudTarjetas_Tarjeta] ON [dbo].[HistoricoSolicitudTarjetas]
(
	[NumTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Tarjeta_Cliente]    Script Date: 16/07/2017 05:30:50 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_FK_Tarjeta_Cliente] ON [dbo].[Tarjeta]
(
	[DNICliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Tarjeta_Tarjeta]    Script Date: 16/07/2017 05:30:50 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_FK_Tarjeta_Tarjeta] ON [dbo].[Tarjeta]
(
	[Extension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Terminal_Empleado]    Script Date: 16/07/2017 05:30:50 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_FK_Terminal_Empleado] ON [dbo].[Terminal]
(
	[DNIEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Terminal_Impresora]    Script Date: 16/07/2017 05:30:50 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_FK_Terminal_Impresora] ON [dbo].[Terminal]
(
	[IdImpresora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Cliente] FOREIGN KEY([DniConyuge])
REFERENCES [dbo].[Cliente] ([DNI])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Cliente]
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_Cliente] FOREIGN KEY([DNICliente])
REFERENCES [dbo].[Cliente] ([DNI])
GO
ALTER TABLE [dbo].[Tarjeta] CHECK CONSTRAINT [FK_Tarjeta_Cliente]
GO
ALTER TABLE [dbo].[Terminal]  WITH CHECK ADD  CONSTRAINT [FK_Terminal_Empleado] FOREIGN KEY([DNIEmpleado])
REFERENCES [dbo].[Empleado] ([DNI])
GO
ALTER TABLE [dbo].[Terminal] CHECK CONSTRAINT [FK_Terminal_Empleado]
GO
ALTER TABLE [dbo].[Terminal]  WITH CHECK ADD  CONSTRAINT [FK_Terminal_Impresora] FOREIGN KEY([IdImpresora])
REFERENCES [dbo].[Impresora] ([CodImpresora])
GO
ALTER TABLE [dbo].[Terminal] CHECK CONSTRAINT [FK_Terminal_Impresora]
GO
/****** Object:  Trigger [dbo].[ActualizarHistoricoTarjeta]    Script Date: 16/07/2017 05:30:50 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ActualizarHistoricoTarjeta]
   ON  [dbo].[Tarjeta] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;

	Insert into HistoricoSolicitudTarjetas
	select IdTerminalImpresion, Numero,GETDATE(),Estado  from inserted 

END

GO